<%= form_with(model: position) do |form| %>
  <% if position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(position.errors.count, "error") %> prohibited this position from being saved:</h2>

      <ul>
        <% position.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.fields_for :position_history do |position_history_form| %>
    <div class="field">
      <%= position_history_form.label :name %>
      <%= position_history_form.text_field :name %>
    </div>

    <div class="field">
      <%= position_history_form.label :begin_date %>
      <%= position_history_form.date_field :begin_date %>
    </div>

    <div class="field">
      <%= position_history_form.label :end_date %>
      <%= position_history_form.date_field :end_date %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
